.d-flex {
    width: 500px;
    margin-left: 40px;
}

.x {

    font-size: larger;
    margin-left: 30px;


}


.icon1 {
    margin-left: 10px;
    margin-top: 5px;

}

.navbar {
    display: flex;
    /* align-items: center;
    height: fit-content; */
}


.btn {
    margin-left: 50px;
    /* margin-bottom: 20px; */


}

* {
    margin: 0;
    padding: 0;
}

.consume-1 {
    text-align: center;

}

.consume-2 {
    text-align: center;
}

.cord {
    height: 00px;
}

.consume-3 {
    text-align: center;
}

.consume-4 {
    text-align: center;
}

.consume-5 {
    text-align: center;
}


.inp {
    width: 400px;
}

.but {
    width: 90px;
    background-color: lightcoral;
    color: white;
}

.set {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fab {
    margin-left: 12px;
}

.fa-brands {
    font-size: 30px;

}

.spca {
    margin-top: 30px;
}

footer {
    background-color: bisque;
    margin-top: 60px;
}

.main {
    padding: 40px;
}

.para {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.privancy {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.TermsConditions {
    text-decoration: none;
    color: black;
}

.card:hover img {
    scale: 1.2;
}

.nav-item:hover a {
    scale: 1.2;
}

.nav-link dropdown-toggle {
    color: black;
}

.table-1 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: larger;
    font-style: inherit;

}